<section>
  <div class="page-header">
    <h1>{{vm.vote._id ? 'Final Voting Results' : 'Current Voting Results'}}</h1>


    <table class="table table-sm" style="width:100%;">
     <tbody>
       <tr>
         <td><h4>Last Updated: {{date}}</h4></th>
         <td align="right"><input type="button" value="Refresh" onClick="window.location.reload()"></th>
       </tr>
     </tbody>
   </table>
  </div>

  <div class="col-md-12">
    <form name="vm.form.voteForm" class="form-horizontal" ng-submit="" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <input name="cmd" type="hidden" ng-model="vm.vote.cmd" id="cmd" class="form-control" required>
          <input name="ballotData" type="hidden" ng-model="vm.vote.data" id="ballotData" class="form-control" placeholder="Ballot Data" required>
        </div>
      </fieldset>
     </form>

      <h3>FOR COMMANDER IN CREAM AND VICE ICE</h3>
      <h4>(RANKED CHOICE VOTING (INSTANT RUNOFF))</h4>
      <table class="table table-sm" style="width:75%;">
       <thead class="thead-inverse">
         <tr>
           <th>Candidate Name</th>
           <th>Party Affiliation</th>
           <th>Vote Count</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>Reese WithoutASpoon<br>Cherry Garcia</th>
           <td>Democrat for C.I.C<br>Democrat for Vice Ice</th>
           <td><strong>{{A1}}</strong></td>
         </tr>
         <tr>
           <td>Choco 'Chip' Dough<br>Carmela Coney</th>
           <td>Republican for C.I.C<br>Republican for Vice Ice</th>
           <td><strong>{{A2}}</strong></td>
         </tr>
         <tr>
           <td>Magic Browny<br>Phish Food</th>
           <td>Independent for C.I.C<br>Independent for C.I.C</th>
           <td><strong>{{A3}}</strong></td>
         </tr>
       </tbody>
     </table>

      <br><hr><br>

      <h3>FOR CHIEF DAIRY QUEEN</h3>
      <h4>UNEXPIRED TERM (VOTE IN ONE OVAL)</h4>
      <h4>Shall Justice Mint C. Chip of the Supreme Court of the State of Ice Cream be retained in office for another term?</h4>
      <table class="table table-sm" style="width:40%;">
        <thead class="thead-inverse">
          <tr>
            <th>Decision</th>
            <th>Vote Count</th>
          </tr>
        <tr>
          <td>YES</td>
          <td><strong>{{B1}}</strong></td>
        </tr>
        <tr>
          <td>NO</td>
          <td><strong>{{B2}}</strong></td>
        </tr>
      </table>

      <br><hr><br>

      <h3>FOR STATE REP. DISTRICT M&amp;M</h3>
      <table class="table table-sm" style="width:75%;">
        <thead class="thead-inverse">
          <tr>
            <th>Candidate Name</th>
            <th>Party Affiliation</th>
            <th>Vote Count</th>
          </tr>
        <tr>
          <td>P. Nut Butter</td>
          <td>REPUBLICAN</td>
          <td><strong>{{C1}}</strong></td>
        </tr>
        <tr>
          <td>Cream C. Kol</td>
          <td>INDEPENDENT</td>
          <td><strong>{{C2}}</strong></td>
        </tr>
        <tr>
          <td>Marsh Mallow</td>
          <td>DEMOCRAT</td>
          <td><strong>{{C3}}</strong></td>
        </tr>
      </table>

      <br><hr><br>

      <h3>CONSTITUTIONAL INITIATIVE NO. 116</h3>
      <h4>MAKE VANILLA (OVER CHOCOLATE) THE OFFICIAL BEST FLAVOR</h4>
      <h4>This is a fiercely debated topic and CI - 116 would official enumerate in written legislative text in perpetuity which flavor has favor - namely vanilla is better, unequivocally, than chocolate.</h4>
      <table class="table table-sm" style="width:40%;">
        <thead class="thead-inverse">
          <tr>
            <th>Decision</th>
            <th>Vote Count</th>
          </tr>
        <tr>
          <td>YES</td>
          <td><strong>{{D1}}</strong></td>
        </tr>
        <tr>
          <td>NO</td>
          <td><strong>{{D2}}</strong></td>
        </tr>
      </table>

      <br><hr><br>

  </div>
</section>
